{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'add_comment' %}" class="btn btn-primary">New comment</a></button>

        </div>
          {% for comment in comments %}
              <div class="card-body">
                <h5 class="card-title">{{comment.title}}</h5>
                <p> {{comment.content}} </p>
                <p> {{comment.created_at}} </p>
                <a href="#" class="btn btn-primary">Answer</a>
                <a href="{% url 'edit_comment' comment.pk%}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_comment' comment.pk%}" class="btn btn-primary">Delete</a>
                <hr>
              </div>
          {% endfor %}

    </div>
{% endblock %}